<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBP763l54_xV0D6xeibngR0VfUK7yuFVZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>216964166409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.collegeProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>college-project-74d8a</string>
	<key>STORAGE_BUCKET</key>
	<string>college-project-74d8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216964166409:ios:0718ec4ead4378d0dc59d8</string>
</dict>
</plist>